:root{
  --cor-fundo: #e3f2fd; 
    --cor-principal: #28eefc; 
    --cor-secundaria: #5936f5; 
    --cor-destaque: #f72ce6; 
    --cor-texto: #263238; 
}



body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100px; /* Ajuste do tamanho do logo */
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: var(--cor-destaque);
}

.caixa-perguntas{
    padding-bottom: 20px;
    font-size: 25px;
}

.texto-resultado{
    color: var(--cor-destaque);
    font-size: 20px;
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.link{
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: var(--cor-destaque);
}
