:root {
  --cor-fundo: #2E2E2E; /* Cinza escuro para um fundo discreto */
  --cor-principal: #6A5ACD; /* Azul lavanda para um toque criativo */
  --cor-secundaria: #C0C0C0; /* Prata suave para elegância */
  --cor-destaque: #8FBC8F; /* Verde sálvia para um toque natural */
  --cor-texto: #000000; 
}


body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100px; /* Ajuste do tamanho do logo */
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: var(--cor-destaque);
}

.caixa-perguntas{
    padding-bottom: 20px;
    font-size: 25px;
}

.texto-resultado{
    color: #000000; /* Preto para maior destaque */
    font-size: 24px; /* Maior tamanho para resposta final */
    font-weight: bold;
}


button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.link{
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: var(--cor-destaque);
}
