:root {
  --cor-fundo: #121212; /* Preto suave para um fundo elegante */
  --cor-principal: #483D8B; /* Azul violeta profundo para requinte */
  --cor-secundaria: #D4A017; /* Dourado envelhecido para sofisticação */
  --cor-destaque: #8B0000; /* Vermelho escuro para um toque de impacto */
  --cor-texto: #EAEAEA; /* Cinza claro para leitura confortável */
}


body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100px; /* Ajuste do tamanho do logo */
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: var(--cor-destaque);
}

.caixa-perguntas{
    padding-bottom: 20px;
    font-size: 25px;
}

.texto-resultado{
    color: var(--cor-destaque);
    font-size: 20px;
}

button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.link{
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: var(--cor-destaque);
}
